@use 'bulma/sass/utilities/mixins';

.results-list {
  overflow-y: auto;
  max-height: 640px;
}

@include mixins.tablet {
  .design-panel {
    border-left: 1px solid var(--bulma-border);
  }
}

@include mixins.mobile {
  .results-list {
    max-height: 320px;
  }

  .design-panel {
    border-top: 1px solid var(--bulma-border);
  }
}

.canvas {
  background: #000;
  width: auto;
  height: 50%;
  max-width: 640px;
  max-height: 640px;
}

.bg-default {
  background-color: var(--bulma-body-background-color);
}

p a:hover {
  text-decoration: underline;
}

input[type='text'] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
