.design-panel {
  border-left: 1px solid hsl(221, 14%, 40%);
}

.canvas {
  background: #000;
  width: 640px;
  height: 640px;
}

.album-search-result {
  transition: 0.15s background-color ease-out;

  &:hover {
    background-color: rgba(0, 120, 220, 0.075);
  }
}
