@use 'bulma/sass/utilities/mixins';

.sign-out:not(:hover):not(:focus-visible):not(:active) {
  opacity: 0.85;
}

.site-link {
  color: var(--bulma-text);
  font-size: var(--bulma-size-small);

  &:hover,
  &:active,
  &:focus-visible {
    color: var(--bulma-text-strong);
    text-decoration: underline;
  }
}

.svg-icon {
  display: contents;

  & svg {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    position: relative;
    top: 1px;
  }
}

.canvas {
  background: #000;
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 640px;
}

.cover-placeholder {
  background-color: #343a40;
}

.bg-default {
  background-color: var(--bulma-body-background-color);
}

.drag-handle {
  cursor: move;
  user-select: none;
  font-weight: 900;
}

.drag-hint {
  border: 1px solid var(--bulma-border);
  border-radius: 3px;
  font-weight: 500;
  padding: 0 5px 1px 5px;
  user-select: none;
}

.modal-card {
  margin-bottom: 10vh;
}

.modal-card-head,
.modal-card-body {
  background: var(--bulma-modal-card-foot-background-color);
  box-shadow: none;
}

.modal-cancel-btn {
  width: calc(var(--bulma-control-height) - 10px);
  height: calc(var(--bulma-control-height) - 10px);
  padding: 2px 0 0 2px;
  border-radius: 8px;
  transition-duration: 0.2s;

  &:hover,
  &:focus-visible {
    background-color: var(--bulma-modal-card-body-background-color);
    color: var(--bulma-link-text);
  }
}

.clear-input-btn {
  color: var(--bulma-grey-dark) !important;
  pointer-events: auto !important;
  width: calc(var(--bulma-control-height) - 6px);
  height: calc(var(--bulma-control-height) - 6px);
  padding-bottom: 1px;

  &:hover {
    color: var(--bulma-text) !important;
  }
}

/* .button.is-text {
  --bulma-button-text-hover-background-color: var(--bulma-background-hover);
  text-decoration: none;

  &:active {
    background-color: #383f4c;
  }
} */

/* .footer {
  --bulma-footer-padding: 3rem 1.5rem;

  & button:hover {
    text-decoration: underline;
  }
} */

p a:hover {
  text-decoration: underline;
}

input[type='text'] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
