@use 'bulma/sass/utilities/mixins';
@use 'variables' as *;

/* html,
body {
  height: 100%;
} */

/* #app,
.main-container {
  height: 100%;
  min-height: 100%;
} */

.main-container {
  display: grid;
}

.divider {
  background-color: var(--bulma-border);
}

.results-list {
  overflow-y: auto;
}

.design-panel {
  max-width: 640px;
}

@include mixins.mobile {
  .main-container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1px auto;
    gap: 16px;
    padding: 16px 8px 0 8px;
  }

  .divider {
    width: 100%;
    height: 1px;
  }

  .results-list {
    padding-left: 8px;
    padding-right: 8px;
    max-height: 330px;
  }

  .design-panel {
    width: 100%;
    max-width: none;
    align-items: center;
    padding: 8px;
  }

  .canvas {
    width: 80vmin;
    height: auto;
  }

  .footer-notes {
    justify-content: center;
  }
}

@include mixins.tablet {
  .auth-container {
    padding: 0 $space-1h;
  }

  .main-container {
    grid-template-columns: minmax(0, 1fr) 1px minmax(0, 1fr);
    grid-template-rows: auto;
    gap: 8px;
    padding: 16px 16px 0 16px;
  }

  .results-list {
    /* height: calc(100vh - 120px); */
    padding: 0 16px;
    /* max-height: minmax(1094px, 100vh); */
    /* height: 900px; */
    /* min-height: 100%; */
    max-height: 1094px;
    height: 100%;
  }

  .toolbar {
    width: 100%;
  }
}

@include mixins.desktop {
  .main-container {
    gap: 24px;
    padding: 24px 24px 0 24px;
  }

  .divider {
    width: 1px;
    height: 100%;
  }
}
