@use 'variables' as *;

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fill-width {
  width: 100%;
}

.hidden {
  display: none;
}

.overflow-auto {
  overflow: auto;
}

.text-14 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.gap-q { gap: $space-q; }
.gap-h { gap: $space-h; }
.gap-1 { gap: $space-1; }
.gap-2 { gap: $space-2; }
.gap-3 { gap: $space-3; }
.gap-1h { gap: $space-1h; }
.gap-2h { gap: $space-2h; }
