@use 'bulma/sass/utilities';
@use 'bulma/sass/base';
@use 'bulma/sass/themes';
@use 'bulma/sass/grid';
@use 'bulma/sass/layout';
@use 'bulma/sass/form';
@use 'bulma/sass/helpers';
@use 'bulma/sass/elements/button';
@use 'bulma/sass/elements/image';
@use 'bulma/sass/elements/title';
@use 'bulma/sass/utilities/mixins';

@use 'bulma-list/sass/bulma-list';

@forward 'styles/variables';
@forward 'styles/utils';
@forward 'styles/app';

/* Primary #1ed760 */
/* Primary New #1db954 */
/* Link #27ae60 */

:root {
  color-scheme: dark;
  --bulma-body-size: 15px;
  --bulma-primary-h: 141deg;
  --bulma-primary-s: 73%;
  --bulma-primary-l: 42%;
  --bulma-link-h: 145deg;
  --bulma-link-s: 63%;
  --bulma-link-l: 42%;
  --bulma-danger-h: 357deg;
  --bulma-danger-s: 96%;
  --bulma-danger-l: 64%;
  --bulma-scheme-main-bis-l: 14%;
  // --bulma-text-l: 80%;
}

@include mixins.mobile {
  :root {
    --bulma-body-size: 16px;
  }
}

.input {
  --bulma-input-border-l: 40%;
  --bulma-input-placeholder-color: hsla(221deg, 14%, 93%, 0.5);
}

.button {
  --bulma-button-border-l: 40%;
}

.title {
  --bulma-title-weight: var(--bulma-weight-bold);
}
